
/*  Cabecera especial para esta pagina*/

header div:first-child {
    top: 15%;
    right: 5%;
}


/* Separo todo del nav y header */

nav {
    margin-bottom: 3%;
}

/* ***********************/
/* Texto inicial */ 
/* ***********************/

article div {
    width: 60%;
    margin: 0px auto;
    margin-bottom: 10% ;
}

article div h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 6%;
}

article div p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    word-spacing: 5px;
}

/* ***********************/
/* Lado derecho */
/* ***********************/

aside#derecha {
    width: 25%;
    float: right;
    background-color: lightblue;
}

aside#derecha img {
    width: 100%;
}

aside#derecha p {
    text-align: center;
    margin: 5%;
    font-family: 'Times New Roman';
}

/* Simulo un boton */
aside#derecha div a{
    width: fit-content;
    padding: 25px;
    background-color: burlywood;
    margin-top: 25px;
    display: inline-block;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 5%;
    top: 130%;
    transform: scale(0.1);
    opacity: 0;
    transition: 1s;
}

/* Hago que el boton simulado se haga mas grande y aparezca encima de todo */
aside#derecha div:hover a{
    transform: rotate(380deg) scale(1.2);
    transition: 1s;
    opacity: 1;
}


/* ***********************/
/* Lado izquierdo */
/* ***********************/

aside#izquierda {
    width: 20%;
    float: left;
    margin-left: 5%;
}

aside#izquierda div {
    width: 100%;
}

aside#izquierda div ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

aside#izquierda div ul li {
    border: 1px solid black;
    float: left;
    padding: 10%;
    width: 12.2%;
    height: 25%;
    box-sizing: content-box; 
}

aside#izquierda div ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

/* ***********************/
/*  Parte central */ 
/* ***********************/

section {
    width: 40%;
    margin: 0px auto;
}

section div {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #75cdd6;
    margin: 0px auto;
}

section div div table {
    border-collapse: collapse;
    empty-cells: hide;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    height: 90%;
}

section div div table caption {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 3%;

}

section div div table tr td.ocupado{
    background-color: #3b666b;
    color: white;
}

section div div table tr td.ocupado div.eventoDrop {
    position: absolute;
    display: inline-block;
    left: -30%;
    top: 110%;
    background-color: white;
    width: 25%;
    height: fit-content;
    box-shadow: 10px 10px 15px;
    transition: 2s;
}


/* Hover sobre la tabla del calendario */

section div div table tr td:hover {
    background-color: #9edfe7;
    color: black;
    font-weight: bold;
}


/* Hover del dia y hacer aparecer la informacion del dia */

section div div table tr td.ocupado:hover div.eventoDrop {
    left: 2%;
    transition: 2s;
}


section div div table tr td.ocupado div.eventoDrop div {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    margin-bottom: 0px;
    overflow: hidden;
}


section div div table tr td.ocupado div.eventoDrop p span:first-child{
    font-size: 20px;
    text-decoration: underline;
    margin: 20px;
}

section div div table tr td.ocupado div.eventoDrop p span{
    font-size: 15px;
    float: left;
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    box-sizing: content-box;
}

section div div table tr td.ocupado div.eventoDrop div img {
    width: 100%;
}
