section div#catalogo div a img {
    height: 270px;
}

section div#catalogo div a div{
    padding-left: 10px;
}

section div#catalogo div a div p:first-child{
    font-size: 18px;
    margin-bottom: 40%;
}

section div#catalogo div a div p{
    font-size: 13px;
}

section div#catalogo div:hover a div{
    top: 5%;
}

section div#catalogo div:hover a div p:first-child{
    margin-bottom: 5%;
}